.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}


.featureSvg {
  fill: var(--ifm-font-color-base);
}

/*
[data-theme='dark'] .featureSvg {
  fill: .......;
}
*/
